aiosqlite==0.22.1
asyncpg==0.31.0
fastapi==0.141.1
GeoAlchemy2==0.20.0
geopandas==1.1.4
numpy==2.5.2
pandas==3.0.5
pydantic==2.13.5
pyogrio==0.13.0
pyproj==3.7.2
python-dotenv==1.2.3
requests==2.34.2
scikit-learn==1.9.0
shapely==2.1.2
SQLAlchemy==2.0.52
uvicorn[standard]==0.52.4
